html, body {
	height: 100%;
	padding: 0;
	margin: 0;
	width: 100%;
	border: 1px solid;
}

#inputDiv {
	width: 210px;
	height: 80px;
	position: fixed;
	border: 1px solid;
	top: 65%;
	left: 50%;
	margin-top: -100px;
	margin-left: -100px  
}

